BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "salida0[0]" SITE "128" ;
LOCATE COMP "salida0[1]" SITE "127" ;
LOCATE COMP "salida0[2]" SITE "120" ;
LOCATE COMP "salida0[3]" SITE "126" ;
LOCATE COMP "indiv0[0]" SITE "62" ;
LOCATE COMP "indiv0[1]" SITE "67" ;
LOCATE COMP "indiv0[2]" SITE "61" ;
LOCATE COMP "indiv0[3]" SITE "65" ;
LOCATE COMP "clr0" SITE "40" ;
LOCATE COMP "control0" SITE "38" ;
