BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLR0" SITE "40" ;
LOCATE COMP "PRE0" SITE "38" ;
LOCATE COMP "D0" SITE "41" ;
LOCATE COMP "J0" SITE "39" ;
LOCATE COMP "K0" SITE "44" ;
LOCATE COMP "T0" SITE "42" ;
LOCATE COMP "S0" SITE "45" ;
LOCATE COMP "R0" SITE "43" ;
LOCATE COMP "NQd0" SITE "120" ;
LOCATE COMP "NQt0" SITE "119" ;
LOCATE COMP "NQt1JK0" SITE "117" ;
LOCATE COMP "NQt1SR0" SITE "115" ;
LOCATE COMP "Qd0" SITE "114" ;
LOCATE COMP "Qt0" SITE "113" ;
LOCATE COMP "QtJK0" SITE "112" ;
LOCATE COMP "QtSR0" SITE "111" ;
LOCATE COMP "indiv0[0]" SITE "47" ;
LOCATE COMP "indiv0[1]" SITE "50" ;
LOCATE COMP "indiv0[2]" SITE "48" ;
LOCATE COMP "indiv0[3]" SITE "55" ;
LOCATE COMP "oscdiv0" SITE "121" ;
LOCATE COMP "oscraw0" SITE "122" ;
