BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "dato[0]" SITE "40" ;
LOCATE COMP "dato[1]" SITE "38" ;
LOCATE COMP "dato[2]" SITE "41" ;
LOCATE COMP "dato[3]" SITE "39" ;
LOCATE COMP "dato[4]" SITE "44" ;
LOCATE COMP "dato[5]" SITE "42" ;
LOCATE COMP "dato[6]" SITE "45" ;
LOCATE COMP "dato[7]" SITE "43" ;
LOCATE COMP "dato[8]" SITE "49" ;
LOCATE COMP "dato[9]" SITE "47" ;
LOCATE COMP "sel[0]" SITE "50" ;
LOCATE COMP "sel[1]" SITE "48" ;
LOCATE COMP "ci" SITE "55" ;
LOCATE COMP "cd" SITE "52" ;
LOCATE COMP "clr" SITE "56" ;
LOCATE COMP "clk" SITE "107" ;
