BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clr0" SITE "40" ;
LOCATE COMP "sel0[0]" SITE "38" ;
LOCATE COMP "sel0[1]" SITE "41" ;
LOCATE COMP "ci0" SITE "39" ;
LOCATE COMP "cd0" SITE "44" ;
LOCATE COMP "dato0[0]" SITE "47" ;
LOCATE COMP "dato0[1]" SITE "50" ;
LOCATE COMP "dato0[2]" SITE "48" ;
LOCATE COMP "dato0[3]" SITE "55" ;
LOCATE COMP "dato0[4]" SITE "52" ;
LOCATE COMP "dato0[5]" SITE "56" ;
LOCATE COMP "dato0[6]" SITE "54" ;
LOCATE COMP "dato0[7]" SITE "59" ;
LOCATE COMP "dato0[8]" SITE "57" ;
LOCATE COMP "dato0[9]" SITE "60" ;
LOCATE COMP "Q0[0]" SITE "132" ;
LOCATE COMP "Q0[1]" SITE "133" ;
LOCATE COMP "Q0[2]" SITE "127" ;
LOCATE COMP "Q0[3]" SITE "128" ;
LOCATE COMP "Q0[4]" SITE "125" ;
LOCATE COMP "Q0[5]" SITE "126" ;
LOCATE COMP "Q0[6]" SITE "121" ;
LOCATE COMP "Q0[7]" SITE "122" ;
LOCATE COMP "Q0[8]" SITE "119" ;
LOCATE COMP "Q0[9]" SITE "120" ;
LOCATE COMP "indiv0[0]" SITE "62" ;
LOCATE COMP "indiv0[1]" SITE "67" ;
LOCATE COMP "indiv0[2]" SITE "61" ;
LOCATE COMP "indiv0[3]" SITE "65" ;
