BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "indiv0[0]" SITE "62" ;
LOCATE COMP "indiv0[1]" SITE "67" ;
LOCATE COMP "indiv0[2]" SITE "61" ;
LOCATE COMP "indiv0[3]" SITE "65" ;
LOCATE COMP "output0[0]" SITE "120" ;
LOCATE COMP "output0[1]" SITE "119" ;
LOCATE COMP "output0[2]" SITE "122" ;
LOCATE COMP "output0[3]" SITE "121" ;
LOCATE COMP "output0[4]" SITE "126" ;
LOCATE COMP "clr0" SITE "40" ;
LOCATE COMP "control0[0]" SITE "38" ;
LOCATE COMP "control0[1]" SITE "41" ;
LOCATE COMP "control0[2]" SITE "39" ;
LOCATE COMP "ls0" SITE "44" ;
LOCATE COMP "rs0" SITE "42" ;
LOCATE COMP "input0[0]" SITE "47" ;
LOCATE COMP "input0[1]" SITE "50" ;
LOCATE COMP "input0[2]" SITE "48" ;
LOCATE COMP "input0[3]" SITE "55" ;
LOCATE COMP "input0[4]" SITE "52" ;
