BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLR" SITE "40" ;
LOCATE COMP "CRTL[0]" SITE "38" ;
LOCATE COMP "CRTL[1]" SITE "41" ;
LOCATE COMP "CRTL[2]" SITE "39" ;
LOCATE COMP "DATO[0]" SITE "47" ;
LOCATE COMP "DATO[1]" SITE "50" ;
LOCATE COMP "DATO[2]" SITE "48" ;
LOCATE COMP "DATO[3]" SITE "55" ;
LOCATE COMP "CD[0]" SITE "104" ;
LOCATE COMP "CD[1]" SITE "105" ;
LOCATE COMP "CD[2]" SITE "99" ;
LOCATE COMP "CD[3]" SITE "100" ;
LOCATE COMP "Q[0]" SITE "25" ;
LOCATE COMP "Q[1]" SITE "26" ;
LOCATE COMP "Q[2]" SITE "23" ;
LOCATE COMP "Q[3]" SITE "24" ;
LOCATE COMP "SEG[0]" SITE "139" ;
LOCATE COMP "SEG[1]" SITE "132" ;
LOCATE COMP "SEG[2]" SITE "133" ;
LOCATE COMP "SEG[3]" SITE "127" ;
LOCATE COMP "SEG[4]" SITE "128" ;
LOCATE COMP "SEG[5]" SITE "125" ;
LOCATE COMP "SEG[6]" SITE "126" ;
LOCATE COMP "indiv0[0]" SITE "62" ;
LOCATE COMP "indiv0[1]" SITE "67" ;
LOCATE COMP "indiv0[2]" SITE "61" ;
LOCATE COMP "indiv0[3]" SITE "65" ;
LOCATE COMP "oscdiv0" SITE "34" ;
LOCATE COMP "oscraw0" SITE "35" ;
